<p>============================</p>
<p> 〒000-0000 東京都〇〇</p>
<p> TEL: 00-0000-0000</p>
<p> FAX: 00-0000-0000</p>
<p> 携帯電話番号：00-0000-0000</p>
<p> Mail：***@*******.co.jp</p>
<p> URL：（自社サイトのURL）</p>
<p>============================</p>